{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% if if_create_true == 'True' %}
<div class="container">
  <div class="row mt-5">
    <form enctype="multipart/form-data"  method="post">
      {% csrf_token %}
      {{ restaurant_form|crispy }}
      <input type="hidden" name="if_create_true" value="True">
      <button  class="btn mt-3 btn-dark">Create</button>
    </form>


  </div>

</div>
{% else %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Click here to create a new restaurant Menu.</p>
          <form  method="post">
            {% csrf_token %}
            <button name="if_create_true" value="True" class="btn btn-dark">Create a new restaurant Menu</button>
          </form>
        </div>
      </div>
    </div>
    {% for y in restaurant %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{y.restaurant_name}}</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{% url 'restaurantsview:restaurantmenu' restaurant_pk=y.pk %}" class="btn btn-dark">Menu</a>
          <a href="{% url 'reservations:restaurant_reservation' username=user.username restaurantname=y.restaurant_name %}" class="btn btn-dark">Link to reservation</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}


{% endblock %}
