{% extends 'restaurants/base_menu_second.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
  <div class="row justify-content-start">
    <div class="col-12 col-md-4">
      <h4 class="mt-5">Editar Settings do restaurante</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {% if form_pk == 'True' %}
        <form method="post">
          {% csrf_token %}
          {{ form_update|crispy }}
          {{ form_update_time_divider|crispy }}
          <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
        <div class="col-12 col-md-2">
          <h4 class="mt-5" style="color:green;">Saved!</h4>
        </div>
      {% else %}
        <form method="post">
          {% csrf_token %}
          {{ form_update|crispy }}
          {{ form_update_time_divider|crispy }}
          <input type="hidden" name="form_pk" value="{{form_pk}}">
          <button class="btn btn-primary mt-2" type="submit" name="save_form_update" value="True">Guardar</button>
        </form>
        {% endif %}
    </div>

  </div>
</div>

{% endblock %}
