<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SmartReservations</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href='{% static "assets/vendor/aos/aos.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href='{% static "assets/css/style.css" %}' rel="stylesheet">
    <title>{{restaurant.restaurant_name}}</title>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
      $(document).ready(function () {
        var arrDisabledDates = {};
        arrDisabledDates[new Date('08/08/2014')] = new Date('08/08/2014');
        arrDisabledDates[new Date('08/30/2014')] = new Date('08/30/2014');
        var dateToday = new Date();
        var x = document.getElementById("myText").value;
        console.log(x)
        var array = JSON.parse("[" + x + "]");
        var disabledDays = document.getElementById("myDatas").value;
        disabledDays = disabledDays.split(',');

    //     [
    //    "27-1-2023", "25-1-2023", "26-1-2023",
    //    "4-1-2023", "5-1-2023", "6-1-2023", "7-1-2023", "8-1-2023", "9-1-2023"
    // ];
    console.log(disabledDays)

        $('#datepicker').datepicker({
            minDate: dateToday,
            beforeShowDay: function (date) {
                                var day = date.getDay(),
                 bDisable = arrDisabledDates[date];
                var string = jQuery.datepicker.formatDate('d-m-yy', date);
                var isDisabled = ($.inArray(string, disabledDays) != -1);
                console.log(isDisabled)
                if (bDisable) return [false, '', '']
                else return [(day != array[0]) && (day != array[1]) && (day != array[2]) && (day != array[3]) && (day != array[4]) && (day != array[5]) && (day != array[6]) && !isDisabled]
            }
        });
    });
  </script>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="container">
            <!-- <img src="{{ y.restaurant_img.url }}" class="img-fluid"  alt="Responsive image"> -->
            <h2 class="mt-2">{{restaurantname}}</h2>
          </div>
          {% if stage == '1' %}
          <div class="row justify-content-center">
            <div class="col-10">
              <form class="mt-3"  method="post">
                {% csrf_token %}
                {{ form.shift|as_crispy_field }}
                {{ form.number_of_people|as_crispy_field }}
                {{ form.baby_chair|as_crispy_field }}
                <input id="myText" type="hidden" value="{{weekdaysnotopen}}">
                <input id="myDatas" type="hidden" value="{{closed_days}}">
                <p class="mt-3">Date: <input name="choosenday" class="form-control" value='{{choosen_day}}' type="text" id="datepicker"></p>
                <button type="submit" class="choosendate btn btn-primary mt-3" name="stage" value="2">Próxima</button>
              </form>
            </div>
          </div>
          {% endif %}
          {% if stage == '2' %}
          <div class="row justify-content-center">
            <div class="col-10">
              <h5>{{savedchoosenday}}</h5>
              <form class="mt-3"  method="post">
                {% csrf_token %}
                <select name="time" class="form-select mb-2">
                  {% for x in open_time_save %}
                  {% if x == 'Lunch' or x == 'Breakfast' or x == 'Dinner' %}
                  <option disabled>{{x}}</option>
                  {% else %}
                  <option name="time" value="{{x}}">{{x}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                {{ form.message|as_crispy_field }}
                <input type="hidden" name="choosenday" value="{{choosenday}}">
                <input type="hidden" name="shift" value="{{shift}}">
                <input type="hidden" name="number_of_people" value="{{number_of_people}}">
                <input type="hidden" name="baby_chair" value="{{baby_chair}}">
                {% for x in restaurant %}
                <input type="hidden" name="restaurant" value="{{x.pk}}">
                {% endfor %}
                <div class="container">
                  <div class="row">
                    <div class="col-2">
                      <button type="submit" class="choosendate btn btn-primary mt-3" onclick="history.back()" name="">Anterior</button>
                    </div>
                    <div class="col-2">
                      <button type="submit" class="choosendate btn btn-primary mt-3" name="stage" value="3">Próxima</button>
                    </div>

                  </div>

                </div>
              </form>
            </div>
          </div>
          {% endif %}
          {% if stage == '3' %}
          <div class="row justify-content-center">
            <div class="col-10">
              <h5>{{savedchoosenday}}</h5>
              <form class="mt-3"  method="post">
                {% csrf_token %}
                {{ form.full_name|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.phone_number|as_crispy_field }}
                <input type="hidden" name="message" value="{{message}}">
                <input type="hidden" name="time" value="{{time}}">
                <input type="hidden" name="choosenday" value="{{choosenday}}">
                <input type="hidden" name="shift" value="{{shift}}">
                <input type="hidden" name="number_of_people" value="{{number_of_people}}">
                <input type="hidden" name="baby_chair" value="{{baby_chair}}">
                {{ form.captcha|as_crispy_field }}
                <div class="container">
                  <div class="row">
                    <div class="col-2">
                      <button type="submit" class="choosendate btn btn-primary mt-3" onclick="history.back()" name="">Anterior</button>
                    </div>
                    <div class="col-2">
                      <button type="submit" class="choosendate btn btn-primary mt-3" name="stage" value="4">Próxima</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </body>
</html>
